h3.page-header Backup

.alert.alert-dismissable(uib-alert, dismiss-on-timeout="6000", ng-repeat='alert in alerts', type='{{alert.type}}',
    class="{{ 'alert-' + alert.type }}", close='closeAlert($index)') {{alert.msg}}

.col-md-6
    form(name='createForm', role='form', ng-submit='submitCreate()')
        .panel.panel-default
            .panel-heading
                h3.panel-title Create a manual backup
            .panel-body
                .form-group
                    label.control-label Destination Folder
                    input.input.form-control(name='backupPath', type='file',
                        ngf-select="onFileSelect($files, 'backupPath')", required, nwdirectory)
            .panel-footer.text-right
                input.btn.btn-primary.btn(type='submit', value='Create')

.col-md-6
    form(name='restoreForm', role='form', ng-submit='submitRestore()')
        .panel.panel-default
            .panel-heading
                h3.panel-title Restore from backup
            .panel-body
                .form-group
                    label.control-label Backup Folder
                    input.input.form-control(name='restorePath', type='file',
                        ngf-select="onFileSelect($files, 'restorePath')", required, nwdirectory)
            .panel-footer.text-right
                input.btn.btn-primary.btn(type='submit', value='Restore')

.col-md-12
    form(name='settingsForm', role='form', ng-submit='submitSettings()')
        .panel.panel-default
            .panel-heading
                h3.panel-title Automatic Backup
            .panel-body
                .col-md-4.form-group
                    label.control-label Interval
                    p.small (Minutes, 0 to turn off automatic backups)
                    input.input.form-control(name='backupInterval', type='number',
                        ng-model='backup.backupInterval', string-to-number, required)
                .col-md-4.form-group
                    label.control-label Destination Folder
                    p.small {{ backup.autoBackupPath || 'None set' }}
                    input.input.form-control(name='autoBackupPath', type='file',
                        ngf-select="onFileSelect($files, 'autoBackupPath')", nwdirectory)
            .panel-footer.text-right
                input.btn.btn-primary.btn(type='submit', value='Save')